<script src="/_components/morphdom/morphdom-umd.js"></script>
<script src="/_components/@socketry/live/live.js"></script>

<h1>Robot Finds Kitten</h1>

<p>To play the game, use the arrow keys (or WSAD). Click on the board to give it focus.</p>

<%= raw @tag.to_html %>
