<h1>Ruby on Rails on Falcon</h1>

<p>Welcome to the Ruby on Rails on Falcon demo application.</p>

<h2>Examples</h2>

<ul>
	<li><%= link_to 'Streaming Example', streaming_index_path %></li>
	<li><%= link_to 'Chat Example', chat_index_path %></li>
	<li><%= link_to 'Game Example', game_index_path %></li>
	<li><%= link_to 'Job Example', job_index_path %></li>
</ul>
